<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>username</param-name>
        <param-value>mca</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>amogh</param-value>
    </context-param>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calculator</servlet-name>
        <servlet-class>calculator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>httpreqmet</servlet-name>
        <servlet-class>httpreqmet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deploymentDiscriptor</servlet-name>
        <servlet-class>deploymentDiscriptor</servlet-class>
        <init-param>
            <param-name>Login</param-name>
            <param-value>MCA</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionex1</servlet-name>
        <servlet-class>sessionex1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scart</servlet-name>
        <servlet-class>scart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginurl</servlet-name>
        <servlet-class>loginurl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logingeturl</servlet-name>
        <servlet-class>logingeturl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hidden</servlet-name>
        <servlet-class>hidden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tourservlet</servlet-name>
        <servlet-class>tourservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalExp</servlet-name>
        <servlet-class>CalExp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyServletException</servlet-name>
        <servlet-class>MyServletException</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processError</servlet-name>
        <servlet-class>processError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppExceptionHandler</servlet-name>
        <servlet-class>AppExceptionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginjdb</servlet-name>
        <servlet-class>loginjdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resultstatus</servlet-name>
        <servlet-class>resultstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resdetails</servlet-name>
        <servlet-class>resdetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calculator</servlet-name>
        <url-pattern>/calculator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>httpreqmet</servlet-name>
        <url-pattern>/httpreqmet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deploymentDiscriptor</servlet-name>
        <url-pattern>/deploymentDiscriptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionex1</servlet-name>
        <url-pattern>/sessionex1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scart</servlet-name>
        <url-pattern>/scart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginurl</servlet-name>
        <url-pattern>/loginurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logingeturl</servlet-name>
        <url-pattern>/logingeturl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hidden</servlet-name>
        <url-pattern>/hidden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tourservlet</servlet-name>
        <url-pattern>/tourservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalExp</servlet-name>
        <url-pattern>/CalExp</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/ErrorServlet</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>MyServletException</servlet-name>
        <url-pattern>/MyServletException</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processError</servlet-name>
        <url-pattern>/processError</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/AppExceptionHandler</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>AppExceptionHandler</servlet-name>
        <url-pattern>/AppExceptionHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginjdb</servlet-name>
        <url-pattern>/loginjdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resultstatus</servlet-name>
        <url-pattern>/resultstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resdetails</servlet-name>
        <url-pattern>/resdetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
