.div1{
    background-color:#689F38;
    color:white;
    border-radius: 5px;
}
.txtbx{
    border-radius:5px;
}
table{
    
    background-color:white;
     font-family:Comic Sans MS;
     font-size: 15px;
     color:#689F38;
     border-radius: 5px;
  
     
}
h1{
    color:#689F38;
    
}