.regmain1{
    background-color:#689F38;
   
    width:800px;
    border-radius: 5px;    
}
table{
    background-color:white;
     font-family:Comic Sans MS;
     font-size: 15px;
     color:#689F38;
     border-radius: 5px;    
}
.txtbx{
    border-radius:5px;
}
